<legend>+0 (Static Cost) Abilities</legend>
<ul>
    {{#each specialAbilities.b0 as |abilities|}}<li><input type="checkbox" value="{{abilities.id}}" id="{{abilities.data.name}}" class="abilityCheckBox"><label for="{{abilities.data.name}}">{{abilities.data.name}}</label></li>{{/each}}
</ul>
<legend>+1 Abilities</legend>
<ul>
    {{#each specialAbilities.b1 as |abilities|}}<li><input type="checkbox" value="{{abilities.id}}" id="{{abilities.data.name}}" class="abilityCheckBox"><label for="{{abilities.data.name}}">{{abilities.data.name}}</label></li>{{/each}}
</ul>
<legend>+2 Abilities</legend>
<ul>
    {{#each specialAbilities.b2 as |abilities|}}<li><input type="checkbox" value="{{abilities.id}}" id="{{abilities.data.name}}" class="abilityCheckBox"><label for="{{abilities.data.name}}">{{abilities.data.name}}</label></li>{{/each}}
</ul>
<legend>+3 Abilities</legend>
<ul>
    {{#each specialAbilities.b3 as |abilities|}}<li><input type="checkbox" value="{{abilities.id}}" id="{{abilities.data.name}}" class="abilityCheckBox"><label for="{{abilities.data.name}}">{{abilities.data.name}}</label></li>{{/each}}
</ul>
<legend>+4 Abilities</legend>
<ul>
    {{#each specialAbilities.b4 as |abilities|}}<li><input type="checkbox" value="{{abilities.id}}" id="{{abilities.data.name}}" class="abilityCheckBox"><label for="{{abilities.data.name}}">{{abilities.data.name}}</label></li>{{/each}}
</ul>
<legend>+5 Abilities</legend>
<ul>
    {{#each specialAbilities.b5 as |abilities|}}<li><input type="checkbox" value="{{abilities.id}}" id="{{abilities.data.name}}" class="abilityCheckBox"><label for="{{abilities.data.name}}">{{abilities.data.name}}</label></li>{{/each}}
</ul>
